<?xml version='1.0' encoding='utf-8'?>
  
  <Context>

      <!-- 
      JDBC Driver values used by DefaultAwakeCommonsConfigurator.getConnection()
      
      Modify the driver info according to your JDBC Driver:
      - driverClassName: the JDBC driver class name.
      - url:         	 the database URL to pass to the JDBC Driver.
      - username:        the database username.
      - passsword:       the database password.
      --> 
      
        <Resource name="kawanfw-default"
            auth="Container"
            type="javax.sql.DataSource"
            factory="org.apache.tomcat.jdbc.pool.DataSourceFactory"
                              
            driverClassName="org.postgresql.Driver"
            url="jdbc:postgresql://localhost:5432/kawansoft_example"
            username="user1"
            password="password1"/>

  </Context>

